@import './../../global.scss';

.topbar{

    width: 100%;
    height: 70px;
    background-color: white;
    color:  $mainColor;
    position: fixed;
    top: 0;
    z-index: 2;
     
    .wrapper{
         padding: 10px 30px;
         display: flex;
         align-items: center;
         justify-content: space-between;

          .left{
            display: flex;
            align-items: center;
            .logo{
                font-size: 40px;
                font-weight: 600;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
            }
            .itemcontainer{
                display: flex;
                align-items: center;
                margin-left: 30px;

                .icon{
                    font-style: 18px;
                    margin-right: 5px;
                }   
                    span{
                        font-size: 15px;
                        font-weight: 400;
                    }
                
            }
          }
     }
}